{
  "extends": [
    "standard",
    "plugin:prettier/recommended",
    "prettier/standard",
    "plugin:jsdoc/recommended"
  ],
  "plugins": ["eslint-plugin-prettier", "jsdoc"],
  "rules": {
    "prettier/prettier": "error",
    "comma-dangle": 0,
    "prefer-template": 1,
    "arrow-body-style": [1, "as-needed"],
    "jsdoc/require-param-description": 0,
    "jsdoc/require-property-description": 0,
    "jsdoc/require-returns-description": 0
  }
}
